<h1>All Artists</h1>
<% @artists.each do |artist| %>
  <%= artist.name %>
  <%= image_tag artist.image_path %>
  <%= link_to artist.name, artist_path(artist) %>
<% end %>
<%= link_to "New artist", new_artist_path %>
